# Node modules
frontend/node_modules/
backend/node_modules/

# Package-lock.json
frontend/package-lock.json
backend/package-lock.json


# Build output
frontend/dist/
backend/dist/
frontend/out-tsc/
backend/out-tsc/
